CLIENT_ID=VOTRE_BOT_CLIENT_ID
CLIENT_SECRET=VOTRE_BOT_CLIENT_SECRET
REDIRECT_URI=https://lazybot.arthurp.fr/auth/discord/callback
NODE_ENV=development
PORT=3000
BOT_TOKEN=VOTRE_BOT_TOKEN
SESSION_SECRET=UN_SECRET_LONG_ET_UNIQUE
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=lazybot
POSTGRES_USER=lazybot
POSTGRES_PASSWORD=change_me
POSTGRES_DATA_PATH=./data/postgres
DATABASE_URL=postgresql://lazybot:change_me@db:5432/lazybot
OWNER=VOTRE_ID_UTILISATEUR
URL=https://lazybot.arthurp.fr
