CLIENT_ID=VOTRE_BOT_CLIENT_ID
CLIENT_SECRET=VOTRE_BOT_CLIENT_SECRET
REDIRECT_URI=https://lazybot.arthurp.fr/auth/discord/callback
PORT=3000
BOT_TOKEN=VOTRE_BOT_TOKEN
SESSION_SECRET=UN_SECRET_LONG_ET_UNIQUE
DB_PATH=database.sqlite
OWNER=VOTRE_ID_UTILISATEUR
URL=https://lazybot.arthurp.fr
